/* Default styles */
body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.clear-fix{
    /* display: block; */
    clear: both;
}
 
.chat-list , .chat-box{
    display: flex;
    height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
}

/* chat list styling */
.chat-list{
    width: 30%;
    
}

.list-top .head-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    color: #fff;
    background-color: rgb(47, 202, 150);
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 3px;
    padding-top: 40px;
    padding-right: 50%;
    text-align: center;
}

.head-bar a{
   color: #fff;
   padding-top: 4px ;
   padding-bottom: 0;
   width: 20%;
}

.head-bar span{
    display: inline-block;
    padding: 5px 10px;
    white-space: nowrap;
    width: 80%;
}

.list-top p{
    padding: 0 15px;
    border-right: 1px solid black;
    width: 20%;
    height: 20px;
    color: skyblue;

}


.main-list{
    overflow-y: scroll;
    box-sizing: border-box;
    margin-left: 10px;
    
}

.main-list .group-icon{
    background-color: rgb(47, 202, 150);
    width: 30px;
    padding: 5px;
    margin-left: 10px;
}
.main-list h2{
    font-size: 1.4rem;
    padding-left: 10px;
    padding-top: 18px;
}

.main-list img{
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    float: left;
    clear: left;
}

.main-list h3{
    padding: 12px;
    padding-bottom: 1px ;
}

.main-list p{
    margin-top: -14px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: gray;

}

.chat{
    cursor: pointer;
}



/* chat box styling */
.chat-box{
    /* display: none; */
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
    background: url(../images/bg-chat.png);
}

.chat-box p{
    text-align: center;
    width: 60%;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(133, 131, 131, .3);
}

.chat-box h1{
    font-size: 1.5rem;
}

.chat-box span{
    font-size: 1rem;
    margin: 20px;
}

.chat-box span a{
    text-decoration: none;
    color: rgb(47, 202, 150);
}




/* chat window style */
.second-box{
    width: 70%;
    background: #e5ddd5;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}


/* imported chat window style */
/* Main chat window header */
.chat-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem 2rem;
    background: #ededed;
    cursor: pointer;
  }
  
  .chat-window-header-left {
    display: flex;
    align-items: center;
  }
  
  .contact-name-and-status-container {
    display: flex;
    flex-direction: column;
  }
  
  .chat-window-contact-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1.5rem;
  }
  
  .chat-window-contact-name {
    font-size: 1.7rem;
  }
  
  .chat-window-contact-status {
    color: #919191;
    font-size: 1.3rem;
  }
  
  .chat-window-menu-icon {
    margin-left: 2rem;
  }
  
  .chat-window-menu-icon:active {
    background: #d5d5d5;;
    border-radius: 50%;
    box-shadow: 0 0 1px 8px #d5d5d5;;
  }
  
  /* Chat window */
  
  .chat-window {
    display: flex;
    flex-direction: column;
    padding: 10rem 10rem 6rem 10rem;
    height: 30rem;
    overflow: scroll;
    overflow-x: hidden;
    background: url(../images/bg-chat.png);
    background-repeat: repeat;
  }
  
  .chat-window::-webkit-scrollbar {
    width: 0.7rem;
    height: 3rem;
  }
  
  .chat-window::-webkit-scrollbar-track {
    background: #e5ddd5;
  }
  
  .chat-window::-webkit-scrollbar-thumb {
    background: #bab3ae;
  }
  
  .sender,
  .receiver {
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    margin-bottom: 0.3rem;
    position: relative;
  }
  
  .sender {
    background: #dcf8c6;
    align-self: flex-end;
  }
  
  .receiver {
    background: #ffffff;
    align-self: flex-start;
  }
  
  .sender-message,
  .receiver-message {
    font-size: 1.4rem;
    margin-right: 3rem;
  }
  
  .message-time,
  .audio-message-length {
    color: var(--text-gray);
    font-size: 1.08rem;
  }
  
  .message-status img {
    vertical-align: bottom;
  }
  
  .image-message {
    width: 33rem;
    height: 33rem;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .image-message img {
    width: 100%;
    height: 100%;
  }
  
  .image-message .receiver-message {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-message .message-time {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: var(--white);
  }
  
  .receiver-message-tail,
  .sender-message-tail {
    width: 0.8rem;
    height: 1.3rem;
    position: absolute;
    top: 0;
  }
  
  .receiver-message-tail {
    left: -0.5rem;
  }
  
  .sender-message-tail {
    right: -0.5rem;
  }
  
  .receiver-audio-message {
    width: 20rem;
  }
  
  .audio-message {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .audio-message-left {
    cursor: pointer;
  }
  
  .audio-message-center {
    position: relative;
    margin: 0 1.5rem;
    flex: 1;
  }
  
  /* Reset input range styles */
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #30b6b6;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
  }
  
  input[type="range"] {
    background: #d8d8d8;
    width: 100%;
    height: 0.5rem;
    -webkit-appearance: none;
    border-radius: 1rem;
  }
  
  .audio-message-bar {
    width: 75%;
    background: #30b6f6;
    position: absolute;
    left: 0;
    height: 0.5rem;
    z-index: 1;
  }
  
  .audio-message-center-top {
    display: flex;
  }
  
  .audio-message-center-bottom {
    position: absolute;
    top: 1.5rem;
    width: 100%;
  }
  
  .audio-message-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .audio-message-right {
    position: relative;
  }
  
  .audio-message-contact-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  
  .audio-message-microphone {
    width: 2rem;
    position: absolute;
    bottom: 0;
    left: -1rem;
  }
  
  /* Type message bar */
  .type-message-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 93%;
    display: flex;
    background: #f0f0f0;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  
  .type-message-bar img {
    cursor: pointer;
  }
  
  .type-message-bar-left img:nth-of-type(2) {
    margin: 0 2rem;
  }
  
  .type-message-bar-center {
    flex: 1;
  }
  
  .type-message-bar-center input {
    width: 60%;
    outline: none;
    border: none;
    padding: 1rem 1rem 1rem 2rem;
    flex: 1;
    border-radius: 2rem;
    font-family: "Segoe UI";
  }
  
  .type-message-bar-center input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  